.box {
    background-color: #7fffd4;
    color: white;
    font-size: 70px;
    text-align: center;
    padding: 0;
    width: 300px;
    margin: 2px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4em;
    margin: 0 0 2em;
}
img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}
h1 {
    font-size: 0.5em;
    text-align: center;
}
h1 .subtitle {
    font-size: 0.7em;
    font-weight: normal;
}
